/* Button Logic */
button {
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    transition: background 0.2s;
}

button:hover { background-color: #3367d6; }

/* Small buttons for the table actions */
td button {
    padding: 5px 10px;
    font-size: 0.8rem;
    margin: 2px;
}

nav {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

nav button {
    margin-left: 10px;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}