<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>WP - Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/static/style.css" th:href="@{/style.css}" />
</head>
<body>
<h1>Client list</h1>
<nav>
    <a href="/templates/client/list.html" th:href="@{/client/list}">List</a>
    <a href="/templates/client/create.html" th:href="@{/client/create}">Create</a>
</nav>
<table>
    <tr>
        <th>NAME</th>
        <th>WORKSITES</th>
        <th>ACTIONS</th>
    </tr>
    <tr th:each="entry : ${clientsAndWorksites}">
        <td th:text="${entry.key.name}">Ville de Strasbourg</td>
        <td>
            <div th:each="w : ${entry.value}"
                  th:text="${w.name}"
            >VDS POLE SUD</div>
        </td>
        <td>
            <form action="/client/1/update" th:action="@{/client/{id}/update(id=${entry.key.id})}" method="get" style="display: inline;">
                <button class="btn btn-primary" type="submit">Edit</button>
            </form>
        </td>
    </tr>
</table>


<p>
    <a href="/templates/home.html" th:href="@{/home}">Return to home</a>
</p>

<div th:insert="~{fragments/footer::copy}">&copy; 2011 The Static Templates</div>

</body>

</html>

