<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Week List</title>
</head>
<body>
<h1>Week List</h1>
<a th:href="@{/weeks/add}">Add New Week</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Notes</th>
        <th>Actions</th>
    </tr>
    <tr th:each="week : ${weeks}">
        <td th:text="${week.id}">week id</td>
        <td th:text="${week.name}">week name</td>
        <td th:text="${week.startDate}"></td>
        <td th:text="${week.endDate}"></td>
        <td th:text="${week.status}"></td>
        <td th:text="${week.notes}"></td>
        <td>
            <a th:href="@{|/weeks/edit/${week.id}|}">Edit</a>
            <a th:href="@{|/weeks/delete/${week.id}|}">Delete</a>
        </td>
    </tr>
</table>
<form th:object="${week}">
    <input th:field="*{name}">
</form>
</body>
</html>